<div id="buttonss" >
    <a class="btn btn-primary" role="button">Anterior</a>
    <button class="btn btn-primary" type="submit"style="margin-left: 3%;">Reset</button>
    <button class="btn btn-primary" type="submit"style="margin-left: 3%;">Próximo</button>
</div>

<div id="imagen1">
    <img 
        src="https://cdn-icons-png.flaticon.com/512/6996/6996000.png" 
        width = "500px"
        class="shadow rounded">
</div><br><br>


    <div class="mb-3" id="campos1">
        <label for="formGroupExampleInput" class="form-label">Example label</label>
        <input type="text" class="form-control" id="formGroupExampleInput">
      </div>
    
    <div class="mb-3"id="campos2">
        <label for="formGroupExampleInput2" class="form-label">Another label</label>
        <input type="text" class="form-control" id="formGroupExampleInput2">
      </div>

      <div class="mb-3"id="campos3">
        <label for="formGroupExampleInput2" class="form-label">Another label</label>
        <input type="text" class="form-control" id="formGroupExampleInput2">
      </div>

      <div class="mb-3"id="campos4">
        <label for="formGroupExampleInput2" class="form-label">Another label</label>
        <input type="text" class="form-control" id="formGroupExampleInput2">
      </div>
