#buttonss{
    text-align: center;
}

#imagen1{
    text-align: center;
}

#campos1{
    text-align: center;

}

#campos2{

    text-align: center;

}

#campos3{

    text-align: center;
}

#campos4{

    text-align: center;
}

